{% extends "base.html" %}
{% load wagtailcore_tags %}

{% block content %}
    {% if request.GET.tag|length %}
        <h4>Showing pages tagged "{{ request.GET.tag }}"</h4>
    {% endif %}

    {% for postpage in postpages %}
              <p><strong><a href="{% pageurl postpage %}">{{ postpage.title }}</a></strong><br /></p>
    {% empty %}
        No pages found with that tag.
    {% endfor %}
{% endblock %}