{% load static wagtailcore_tags wagtailimages_tags %}
<style>
    body {
    background: rgb(63,94,251);
    background: radial-gradient(circle, rgba(63,94,251,0.67128849830948) 0%, rgba(44,142,47,0.763725473099396) 100%);
    max-width: 960px;
    min-height: 100vh;
    margin: 0 auto;
    padding: 0 15px;
    color: #231f20;
    font-family: 'Helvetica Neue', 'Segoe UI', Arial, sans-serif;
    line-height: 1.25;
}
    h1 {
    height: 75px;
    background: #50CE4D;
    background: -moz-linear-gradient(45deg, #50CE4D 0%, #1C6EA4 49%, #C53A17 100%);
    background: -webkit-linear-gradient(45deg, #50CE4D 0%, #1C6EA4 49%, #C53A17 100%);
    background: linear-gradient(45deg, #50CE4D 0%, #1C6EA4 49%, #C53A17 100%);
    border-radius: 10px;
    border: 1px solid #000000;
    margin: 5px;
    text-align: center;
}
    .intro {
    text-align: center;
    background: #348834;
    background: -moz-linear-gradient(45deg, #348834 0%, #9A9A9A 49%, #6FC562 100%);
    background: -webkit-linear-gradient(45deg, #348834 0%, #9A9A9A 49%, #6FC562 100%);
    background: linear-gradient(45deg, #348834 0%, #9A9A9A 49%, #6FC562 100%);
    border-radius: 10px;
    border: 1px solid #000000;
    margin: 5px;
    width: 200px;
    height: 300px;
    float: left;
    margin: 10;
    padding: 5px;
}
.pages {
}
</style>
{% block content %}
    <h1>{{ page.title }}</h1>

    <div class="intro">{{ page.description }}</div>
    <div class="pages">
    {% for post in page.get_children %}
        <h2><a href="{% pageurl post %}">{{ post.title }}</a></h2>
            {{ post.specific.intro|richtext }}
    {% endfor %}
    </div>
{% endblock %}