{% load wagtailcore_tags %}
{% load wagtailcore_tags wagtailimages_tags %}
<style>
body {
    background: rgb(63,94,251);
    background: radial-gradient(circle, rgba(63,94,251,0.67128849830948) 20%, rgba(254,4,4,0.475210066936931) 100%);
    max-width: 960px;
    min-height: 100vh;
    margin: 0 auto;
    padding: 0 15px;
    color: #231f20;
    font-family: 'Helvetica Neue', 'Segoe UI', Arial, sans-serif;
    line-height: 1.25;
}
.header {
    text-align: center;
    border-radius: 10px;
    border: 3px solid #000000;
    margin: 2px;
}
.end {
    margin: 10px;
}
</style>
{% block content %}
    <div class="header">
    <h1>{{ page.title }}</h1>
    <p class="meta">{{ page.date }}</p>

    {% with categories=page.categories.all %}
         {% if categories %}
            <h2>Posted in:</h2>
            <ul>
                {% for category in categories %}
                    <li style="display: inline">
                        {% image category.icon fill-32x32 style="vertical-align: middle" %}
                        {{ category.name }}
                    </li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}
    </div>
    <div class="intro">{{ page.intro|richtext }}</div>
        {{ page.body|richtext }}

    {% for item in page.gallery_images.all %}
        <div style="float: left; margin: 10px">
            {% image item.image fill-320x240 %}
            <p>{{ item.caption }}</p>
        </div>
    {% endfor %}
    <div class="end">
    <br><p><a href="{{ page.get_parent.url }}">Return to blog</a></p>
{% if page.tags.all.count %}
        <h3>Tags</h3>
        {% for tag in page.tags.all %}
            <a href="{% slugurl 'tags' %}?tag={{ tag }}"><button type="button">{{ tag }}</button></a>
        {% endfor %}
    </div>
{% endif %}
{% endblock %}
